{% extends "base.html" %}

{% block title %}
    Accounts
{% endblock title %}
{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for data in account_data.all %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.number }}</td>
                        <td>{{ data.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
