{% extends "base.html" %}

{% block title %}
    Expense Categories
{% endblock title %}
{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for instance in expense_instances.all %}
                    <tr>
                        <td>{{ instance.name }}</td>
                        <td>{{ receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
