{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for instance in receipt_instances.all %}
                    <tr>
                        <td>{{ instance.vendor }}</td>
                        <td>{{ instance.total }}</td>
                        <td>{{ instance.tax }}</td>
                        {% comment %} we changed the date from "n/ j/ y" {% endcomment %}
                        <td>{{ instance.date|date:"m/d/y" }}</td>
                        <td>{{ instance.category.name }}</td>
                        <td>{{ instance.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
pyt
